#unique-shipping-policy {
  max-width: 800px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #111;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(255, 74, 74, 0.2);
}
.unique-shipping-policy{
  background-color: #111;
}

.unique-shipping-title {
  text-align: center;
  color: #ff4a4a;
  margin-bottom: 20px;
}

.unique-effective-date {
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
}

.unique-policy-section {
  margin-bottom: 20px;
}

.unique-policy-section h2 {
  font-size: 22px;
  color: #ff4a4a;
  margin-bottom: 10px;
}

.unique-policy-section p {
  font-size: 16px;
  line-height: 1.5;
}

.unique-shipping-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

.unique-shipping-table, 
.unique-shipping-table th, 
.unique-shipping-table td {
  border: 1px solid #ff4a4a;
}

.unique-shipping-table th, 
.unique-shipping-table td {
  padding: 10px;
  text-align: center;
}

.unique-shipping-table th {
  background-color: #222;
  color: #ff4a4a;
}

.unique-shipping-table td {
  background-color: #333;
}

.unique-policy-footer {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ff4a4a;
}

@media screen and (max-width: 480px) {
  #unique-shipping-policy {
    padding: 10px;
    margin-top: 0;
  }
  .unique-policy-section h2 {
    font-size: 20px;
  }
  .unique-policy-section p {
    font-size: 14px;
  }
  .unique-shipping-table th, 
  .unique-shipping-table td {
    padding: 5px;
  }
  .unique-policy-footer {
    padding-top: 5px;
  }
  
}